body{
    background-color: #2F363F;
    width: 100vw;
    height: auto;
}
#content{
    width: 100%;
    height: 100%;
    display: inline-grid;
    justify-content: center;
    align-content: center;
}
#loginContainer{
    min-width: 45%;
    height: auto;
    color: white;
    background-color: #535C68;
    border-radius: 4px;
    padding: 15px 20px;
    text-align: center;
}
#loginHeader{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 25px;
}
.innerForm{
    width:-webkit-fill-available;
    text-align: left;
    padding: 1px 5px;
}
.innerForm input{
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
    color: white;
    padding: 2px;
    width: 250px;
    margin-top: 3px;
}
.innerForm label{
    font-size: larger;
}
.loginForm > input{
    background-color: rgba(0,0,0,0.3);
    border: none;
    color: white;
    font-size: medium;
    padding: 5px 8px;
    border-radius: 3px;
    transition: 0.3s;
    margin-top: 10px;
}
.loginForm > input:hover{
    background-color: rgba(0,0,0,0.5);
}
.loginForm > input:focus{
    background-color: rgba(0,0,0,0.8);
}