body{
    width: 100vw;
    height: auto;
    background-color: #2F363F;
}
#content{
    width: 100%;
    min-height:100% ;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    min-width: 5%;
    min-height: 5vw;
    background-color: #535C68;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}
#head{
    text-transform: uppercase;
    margin-bottom: 10px;
}
#head span{
    font-size: 3em;
}
#profileEditContainer{
    min-width: 95%;
    height: auto;
}
.profileEditForm{
    text-align: -webkit-center;
}
.innerForm{
    min-width: 100%;
    text-align: left;
}
.innerForm label{
    font-size: 18px;
}
.innerForm input{
    width: 250px;
    border: 0px solid black;
    background: transparent;
    border-radius: 4px;
    outline: none;
    color: white;
    padding: 4px;
    margin: 2px auto 5px 15px;
    transition: 0.3s;
}
.inputButton{
    padding: 5px 10px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
}
.inputButton:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.inputButton:focus{
    background-color: rgba(0, 0, 0, 0.7);
}
#submitProfileButton{
    display: none;
}
#photoEditContainer , #photoEditContainer form{
    text-align: -webkit-center;
}
#userPhoto{
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    filter: brightness(0.7);
}
#formPhoto .innerPhoto ,#formPhoto{
    height: 0px;
    width: 0px;
    display: none;
}
#photoChooseButton{
    padding: 2px 7px;
    width: fit-content;
    color: white;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 0.9em;
    display: none;
}