<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	{%include cssF%}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
</head>
<body>
	<div id="header-bg" style="background-image:url('{% static 'assets/header_bg.jpeg' %}');background-size:100% 100%;">
		{%include nav%}
	</div>
	
	<div id="latestC">
			<div id="carouselExampleCaptions " class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators">
				    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
				    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner ">
				  	{% with "true" as data %}
					  	{% for post in posts %}
					  	
					  		{% if data == "true" %}
					  			<div class="carousel-item  active">
						      		<img src="{% static 'assets/post_bg.jpg' %}"  class="d-block w-100" alt="...">
						      		<div class="carousel-caption d-none d-md-block">
						        		<h5>{{post.title}}</h5>
						     		</div>
						  	  	</div>
					  			{% load define_action %}
					  			{% define "false" as data %}
					  		{% else %}
							    <div class="carousel-item ">
							      <img src="{% static 'assets/post_bg.jpg' %}" class="d-block w-100" alt="...">
							      <div class="carousel-caption d-none d-md-block">
							        <h5>{{post.title}}</h5>
							      </div>
							    </div>
						    {% endif %}
					    {% endfor %}
				    {%endwith%}
				   </div>
			</div>
	</div>
	{%include jsF%}
</body>
</html>