body{
	background-color: #2F363F;
}
#navBar{
	position: fixed;
	width: 100%;
	height: 45px;
	display: block;
	top: 0;
	left: 0;
	z-index: 10;
	transition: 0.6s;
}
#nav{
	position: relative;
	width: 100%;
	height: 45px;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	background-color: rgba(0,0,0,0.7);
}
#navC{
	position: relative;
	width: auto;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	margin:15px 30px auto auto;
}
.navB a{
	text-decoration: none;
	color: white;
	padding: 3px 8px;
	font-size: 15px;
	transition: 0.4s;
}
.navB{
	padding: 0 5px;
}
.navB a:hover{
	background-color: #ff3e4d;
	color: black;

}
#compN{
	position: relative;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
#compN span{
	margin: 5px 15px;
	padding: 5px;
	font-size: 20px;
	color: #ff3e4d;
	cursor: pointer;
}