body{
	background-color: #2F363F;
	width: 100vw;
	overflow-x: hidden;
}
#navBar{
	position: fixed;
	width: 102vw;
	display: block;
	top: 0;
	left: 0;
	z-index: 10;
	transition: 0.6s;
}
#nav{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	background-color: rgba(0,0,0,0.7);
}
#navC{
	position: relative;
	width: auto;
	display: flex;
	align-content: center;
	justify-content: flex-end;
	margin:15px 30px auto auto;
}
.navB a{
	text-decoration: none;
	color: white;
	padding: 3px 8px;
	font-size: 15px;
	transition: 0.4s;
}

.navB a:hover{
	background-color: #ff3e4d;
	color: black;

}
#compN{
	position: relative;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
#compN span{
	padding: 5px;
	font-size: 20px;
	color: #ff3e4d;
	cursor: pointer;
}
/*#navP{
	border-radius: 50%;
	cursor: pointer;
}
#allNews{
	margin-top: 100px;
	width: 95%;
	height: auto;
	background-color: #535c68;
	border-radius: 5px;
	display: flow-root;
}
#postList{
	width: 100%;
	overflow: hidden;
	display:flex;
	height: auto;
	min-height: 100vh;
	flex-flow: wrap;
}
.postSingle{
	display:flex;
	width: 100%;
	height: 180px;
	justify-content: center;
	margin: 8px 0;
}
.postThumbnail{
	width: 75%;
	border-radius: 3px;
}
#allNewsHead{
	display: block;
	margin: 18px auto 20px 30px;
	color: #ffffff;
	font-size: x-large;
	font-family: -webkit-pictograqph;
}*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) and (orientation: portrait) {
	#navBar{
		height: 50px;
	}
	#compN span{
		font-size: 20px; 
		margin: 5px 2px;
	}
	.navB a{
		font-size: 15px;
	}
	.navB{
	padding: 0;
	margin: -1% -2px;
	}
	#navP{
		width: 30px;
		height: 30px;
		margin: -1vw -6vw -4vw auto;
		border-radius: 50%;
	}
	#allNews{
	margin-top: 100px;
	width: 95%;
	height: auto;
	background-color: #535c68;
	border-radius: 5px;
	display: flow-root;
	}
	#postList{
		width: 100%;
		overflow: hidden;
		display:flex;
		height: auto;
		min-height: 100vh;
		flex-flow: wrap;
	}
	.postSingle{
		display:flex;
		width: 100%;
		height: 160px;
		justify-content: center;
		margin: 8px 0;
	}
	.innerPost{
		width: 75%;
		position: relative;
		height: 160px;
		overflow: hidden;
	}
	.postThumbnail{
		width: 100%;
		border-radius: 3px;
		filter: brightness(0.7);
		transition: 0.4s;
	}
	#allNewsHead{
		display: block;
		margin: 18px auto 20px 30px;
		color: #ffffff;
		font-size: x-large;
		font-family: -webkit-pictograqph;
	}
	.postTitle{
		color: #ffffff;
		position: absolute;
		text-transform: capitalize;
		font-size: medium;
		padding: 3px 0;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		transition: 0.4s;

	}
	.bodyContainer{
		bottom:-100%;
		z-index: 5;
		transition: 0.4s;
	}
	.activePS > .innerPost > .postTitle{
		display: none;
	}
	.activePS > .innerPost > .bodyContainer{
		position: absolute;
		display: flex;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #c33944;
		justify-content: center;
	}
	.activePS > .innerPost > .bodyContainer > .innerBody{
		width: 85%;
	}
	.activePS > .innerPost > .bodyContainer > .innerBody > .postBody{
		color: #ffffff;
		font-size: 12px;
	}
	.activePS > .innerPost > .postThumbnail{
		filter: brightness(0.4);

	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (orientation: landscape){
	#navBar{
		height: 150px;
	}
	#compN span{
		font-size: 75px; 
		margin: 10px 15px;
	}
	.navB{
		padding: 0 5px;
		margin: 15px 10px;
	}
	.navB a{
		font-size: 55px;
	}
	#navP{
		width: 90px;
		height: 90px;
		margin: 15px 10px;
	}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#navBar{
		height: 50px;
	}
	#compN span{
		font-size: 25px; 
		margin: 5px 15px;
	}
	.navB{
		padding: 0 5px;
	}
	#navP{
		width: 35px;
		height: 35px;
		margin: -8px 5px;
	}
}
