#content{
	display: flex;
	width: 100%;
	justify-content: center;
}


/* #region  Small devices */

@media only screen and (max-width: 992px) and (orientation: portrait) {
	#allNews {
		margin-top: 100px;
		width: 95%;
		height: auto;
		background-color: #535c68;
		border-radius: 5px;
		display: flow-root;
	}

	#postList {
		width: 100%;
		overflow: hidden;
		display: flex;
		height: auto;
		min-height: 100vh;
		flex-flow: wrap;
	}

	.postSingle {
		display: flex;
		width: 100%;
		height: 160px;
		justify-content: center;
		margin: 8px 0;
	}

	.innerPost {
		width: 75%;
		position: relative;
		height: 160px;
		overflow: hidden;
	}

	.postThumbnail {
		width: 100%;
		border-radius: 3px;
		filter: brightness(0.7);
		transition: 0.4s;
	}

	#allNewsHead {
		display: block;
		margin: 18px auto 20px 30px;
		color: #ffffff;
		font-size: x-large;
		font-family: -webkit-pictograqph;
	}

	.postTitle {
		color: #ffffff;
		position: absolute;
		text-transform: capitalize;
		font-size: medium;
		padding: 3px 0;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		transition: 0.4s;

	}

	.bodyContainer {
		bottom: -100%;
		z-index: 5;
		transition: 0.4s;
	}

	.activePS>.innerPost>.postTitle {
		display: none;
	}

	.activePS>.innerPost>.bodyContainer {
		position: absolute;
		display: flex;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #c33944;
		justify-content: center;
	}

	.activePS>.innerPost>.bodyContainer>.innerBody {
		width: 85%;
	}

	.activePS>.innerPost>.bodyContainer>.innerBody>.postBody {
		color: #ffffff;
		font-size: 12px;
	}

	.activePS>.innerPost>.postThumbnail {
		filter: brightness(0.4);

	}
}

/* #endregion */



/* #region  Medium devices */

@media only screen and (max-width: 992px) and (orientation: landscape) {}

/* #endregion */



/* #region  Large devices */

@media only screen and (min-width: 992px) {
	#allNews {
		margin-top: 100px;
		width: 65%;
		height: auto;
		background-color: #535c68;
		border-radius: 5px;
		display: flow-root;
	}

	#postList {
		width: 100%;
		overflow: hidden;
		display: flex;
		height: auto;
		min-height: 100vh;
		flex-flow: wrap;
		justify-content: space-around;
	}

	.postSingle {
		display: flex;
		width: 45%;
		height: 250px;
		justify-content: center;
		margin: 8px 0;
	}

	.innerPost {
		width: 100%;
		position: relative;
		height: 100%;
		overflow: hidden;
	}

	.postThumbnail {
		width: 100%;
		border-radius: 3px;
		filter: brightness(0.7);
		transition: 0.4s;
	}

	#allNewsHead {
		display: block;
		margin: 18px auto 20px 30px;
		color: #ffffff;
		font-size: xx-large;
		font-family: -webkit-pictograqph;
	}

	.postTitle {
		color: #ffffff;
		position: absolute;
		text-transform: capitalize;
		font-size: x-large;
		padding: 3px 0;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		transition: 0.4s;

	}

	.bodyContainer {
		bottom: -100%;
		z-index: 5;
		transition: 0.4s;
	}

	.activePS>.innerPost>.postTitle {
		display: none;
	}

	.activePS>.innerPost>.bodyContainer {
		position: absolute;
		display: flex;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #c33944;
		justify-content: center;
	}

	.activePS>.innerPost>.bodyContainer>.innerBody {
		width: 85%;
	}

	.activePS>.innerPost>.bodyContainer>.innerBody>.postBody {
		color: #ffffff;
		font-size: 20px;
	}

	.activePS>.innerPost>.postThumbnail {
		filter: brightness(0.4);

	}
}

/* #endregion */