<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Profile
        </title>
        {% include css %}
        {% include js %}
        <script>
            $(document).ready(function(){
                document.getElementById("id_email").value="{{ request.user.email }}"
                document.getElementById("id_first_name").value="{{ request.user.first_name }}"
                document.getElementById("id_last_name").value="{{ request.user.last_name }}"
            })
        </script>
    </head>
    <body>
        <div id="content">
            <div id='container'>
                <div id="head">
                    <span>
                        Profile
                    </span>
                </div>
                <div id="photoEditContainer">
                    <div id="userPhoto" style="background-image: url('{{request.user.profile.photo.url}}');"></div>
                </div>
                <div id="profileEditContainer">
                    <form class="profileEditForm"  enctype="multipart/form-data" action="." method="post"> 
                        
                        {% for field in photoEdit %}
                            <br>
                            <div class="innerPhoto">
                                <br> {{ field }}
                            </div> 
                        {% endfor %}

                        {% for field in profileEdit %}
                            <br>
                            <div class="innerForm"> 
                                {{ field.errors }}
                                {{ field.label_tag }} <br> {{ field }}
                            </div> 
                        {% endfor %}
                        {% csrf_token %}
                        <input type="submit" value="Submit" class="inputButton" id="submitProfileButton">
                        
                    </form>
                    <button id="editProfileButton" class="inputButton">Edit</button>
                    <a href="/account/logout" ><button class="inputButton">Logout </button></a>
                </div>
            </div>
        </div>
    </body>
</html>