{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block css %}
	{%include css%}
{% endblock %}
{% block js %}
	{%include js%}
{% endblock %}
{% block content %}
	<div id="navBar">
		{% include nav %}
	</div>
	<div id="allNews">
		<span id="allNewsHead">Latest News</span>
		<div id="catNav">
			
		</div>
		<div id="postList">
			{% for post in posts %}
				<div class="postSingle">
					<div class="innerPost">
						<img class="postThumbnail" src="{{ post.thumbnail.url }}">
						
						<span class="postTitle">{{post.title}}</span>
						<a href="{{post.get_absolute_url}}">
							<div class="bodyContainer">
								<div class="innerBody">
									<span class="postBody">
										{{post.body|truncatewords:30|linebreaks}}
									</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}