 {% load static %}
<div id="nav">

	<div id="navC">
		
		<div id="navD" class="navB"><a id="navA" href="/">HOME</a></div>
		<div id="navD" class="navB"><a id="navA" href="/blog">BLOG</a></div>

		
		{% if user.is_authenticated %}
			<div id="navD" class="navU">{{ request.user.get_short_name  }}</div>

			{% if request.user.profile.photo %}
			
				<a id="navA" href="/account/profile" target="_blank">
					<div id="navP" style="background-image:url('{{request.user.profile.photo.url}}');"></div>
				</a>
				
			{% else %}

				<a id="navA" href="/account/profile" target="_blank">
					<div id="navP" style="background-image:url('{% static 'assets/userDefault.png' %}');"></div>
				</a>

			{% endif %}

		{% else %}
			<div id="navD" class="navB"><a id="navA" href="/account/login">LOG IN</a></div>
		{% endif %}
			

		
			
	</div>

</div>