{% load define_action %}
<div class="pagination">
    <span class='step-links'>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}"></a>
        {% endif %}
        <span class="pagesContainer">
            {% load define_action %}
            {% for x in page.paginator.num_pages|Range %}
                {% ifequal x page.number  %}
                    <a href="?page={{ x }}">
                        <span class="pages pagesActive">{{x}}</span>
                    </a>
                {% else %}
                    
                    {% ifequal x|checkForDot:page 'true' %}
                        <a href="?page={{ x }}">
                            <span class="pages">{{x}}</span>
                        </a>
                    {% endifequal %}
                    {% ifequal x|checkForDot:page 'false' %}
                        <span class="dots">.</span>
                    {% endifequal %}
                 {% endifequal %}
            {% endfor %}
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}"></a>
        {% endif %}
    </span>
</div>